@()

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="@routes.Assets.at("bootstrap.min.css")">
    <script type="text/javascript" src="@routes.Assets.at("angular-1.2.32.min.js")"></script>
    <script type="text/javascript"  src="@routes.Assets.at("main.js")"></script>
  </head>
  <body ng-app="air" ng-controller="PageCtrl">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="" ng-click="page = 'query'">Query</a></li>
          <li><a href="" ng-click="page = 'report'">Report</a></li>
        </ul>
      </div>
    </div>

    <div class="container" ng-if="page == 'query'" ng-controller="QueryCtrl">
      <div class="form-group">
        <input type="text"
               class="form-control"
               ng-model="search" ng-keydown="$event.keyCode == 13 && fetch()"
               placeholder="enter country and hit 'Enter'">
      </div>
      <div class="form-group">
        <div ng-bind="message"></div>
      </div>

      <div ng-bind="country.name"></div>
      <table class="table table-condensed" ng-if="airports">
        <tr>
          <th>#</th>
          <th>Ident</th>
          <th>Type</th>
          <th>Name</th>
          <th>Runway surface</th>
          <th>Runway ident</th>
        </tr>
        <tbody ng-repeat="airport in airports">
          <tr>
            <td ng-bind="$index + 1"></td>
            <td ng-bind="airport.ident"></td>
            <td ng-bind="airport.type_field"></td>
            <td ng-bind="airport.name"></td>
            <td></td>
            <td></td>
          </tr>
          <tr ng-repeat="runway in airport.runways">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td ng-bind="runway.surface"></td>
            <td ng-bind="runway.le_ident"></td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-primary"
              ng-if="airports && !noMore" ng-click="fetchNext()" ng-disabled="fetching">
        Load more
      </button>
    </div>

    <div class="container" ng-if="page == 'report'" ng-controller="ReportCtrl">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <table class="table table-condensed" ng-if="countriesTop">
            <tr>
              <th>Country</th>
              <th>Airports</th>
            </tr>
            <tr ng-repeat="country in countriesTop">
              <td ng-bind="country.name"></td>
              <td ng-bind="country.airports_count"></td>
            </tr>
          </table>
        </div>

        <div class="col-md-6 col-sm-12">
          <table class="table table-condensed" ng-if="countriesLow">
            <tr>
              <th>Country</th>
              <th>Airports</th>
            </tr>
            <tr ng-repeat="country in countriesLow">
              <td ng-bind="country.name"></td>
              <td ng-bind="country.airports_count"></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-12" ng-if="runways">
          Most common runway indentifications
          <table class="table table-condensed">
            <tr>
              <th>Identification</th>
              <th>Count</th>
            </tr>
            <tr ng-repeat="runway in runways">
              <td ng-bind="runway.ident"></td>
              <td ng-bind="runway.count"></td>
            </tr>
          </table>
        </div>
      </div>

      <table class="table table-condensed" ng-if="countriesWithSurface">
        <tr>
          <th>Country</th>
          <th>Runway surfaces</th>
        </tr>
        <tr ng-repeat="country in countriesWithSurface">
          <td ng-bind="country.name"></td>
          <td ng-bind="country.surfaces.join(', ')"></td>
        </tr>
      </table>
    </div>
  </body>
</html>
